$element-separator: "__";
$modifier-separator: "--";
$state-prefix: "is-";

$namespace:"ht";

@mixin block($block) {
	$B: $namespace + "-" + $block !global;
	.#{$B} {
		@content;
	}
}

@mixin element($element) {
	$E: $element !global;
	$selector: &;
	$currentSelector: "";
	@each $unit in $element {
		$currentSelector: #{$currentSelector + "." + $B + $element-separator + $unit + ","};
	}
	@if hitAllSpecialNestRule($selector) {
		@at-root {
			#{$selector} {
				#{$currentSelector} {
					@content;
				}
			}
		}
	} @else {
		@at-root {
			#{$currentSelector} {
				@content;
			}
		}
	}
}

@mixin modifier($modifier) {
	$selector: &;
	$currentSelector: "";
	@each $unit in $modifier {
		$currentSelector: #{$currentSelector + $selector + $modifier-separator + $unit + ","};
	}
	@at-root {
		#{$currentSelector} {
			@content;
		}
	}
}

@mixin state($state) {
	@at-root {
		&.#{$state-prefix + $state} {
			@content;
		}
	}
}


